@media screen and (max-width: 576px) {
  span {
    font-size: 17px;
  }

  p {
    font-size: 30px;
  }

  .container {
    height: auto;
    min-height: 420px;
  }
}

@media screen and (min-width: 576px) {
  span {
    font-size: 18px;
  }

  p {
    font-size: 38px;
  }

  .container {
    height: auto;
    min-height: 420px;
  }
}

@media screen and (min-width: 768px) {
  span {
    font-size: 19px;
  }

  p {
    font-size: 44px;
  }
}

@media screen and (min-width: 992px) {
  span {
    font-size: 20px;
  }

  p {
    font-size: 47px;
  }

  .container {
    /* 
    width: 850px;
    height: 420px; 
    */

    max-width: 65%;
  }
}
